{% extends "base.html" %}
{% block title %}profile{% endblock title %}
{% block content %}

<h2 class="flex justify-center font-bold text-black py-10">Profil Rumah Sakit Sehat Sejahtera</h2>
<h2 class="font-bold text-green-600 italic ">Visi</h2>
<p class="font-bold text-black mb-5">Menjadi rumah sakit terkemuka dalam layanan kesehatan spesialis jantung dan saraf yang terpercaya dengan berbasis teknologi modern.</p>
<h2 class="font-bold text-green-600 italic">Misi</h2>
<p class="pl-8 font-bold text-black mb-5">1.	Memberikan pelayanan kesehatan berkualitas tinggi yang berpusat pada kebutuhan pasien. <br>
  
  2.	Mengembangkan teknologi medis terkini untuk mendukung diagnosa dan perawatan. <br>
  3.	Menyediakan tenaga medis dan paramedis profesional serta berpengalaman. <br>
  4.	Membangun lingkungan yang nyaman dan aman bagi pasien dan keluarga.</p>
  
<h2 class="font-bold text-green-600 italic">Layanan Unggulan</h2>
<p class="pl-8 font-bold text-black">
  1.	Spesialis Jantung:
</p>
<p class="pl-12 text-black mb-5">
  o	Layanan kateterisasi jantung (Cath Lab). <br>
  o	Pemeriksaan dan perawatan penyakit jantung koroner. <br>
  o	Rehabilitasi jantung pascaoperasi. <br>
</p>
<p class="pl-8 font-bold text-black">
  2.	Spesialis Saraf:
</p>
<p class="pl-12 text-black mb-10">
  o	Diagnosa dan pengobatan stroke. <br>
  o	Layanan neurologi komprehensif, termasuk rehabilitasi saraf. <br>
  o	Penanganan penyakit neurodegeneratif seperti Parkinson dan Alzheimer. <br>
  
</p>

<p class="pl-12 text-black font-bold text-green-600 italic text-center mb-5 mt-10">
  “Kesehatan Anda, Prioritas Kami.”
</p>
<p class="text-center text-lg italic px-10">

  Dengan dedikasi selama 10 tahun dalam memberikan layanan kesehatan, Rumah Sakit Sejahtera terus berkomitmen untuk menjadi pilihan utama dalam layanan spesialis jantung dan saraf.
</p>


  
{% endblock content %}